.accordion__element {
  padding-top: 32px;
  padding-bottom: 19px;
  border-top: 1px solid rgba(16, 38, 84, 0.2);

  @include vp-1199 {
    padding-top: 30px;
    padding-bottom: 22px;
  }

  @include vp-767 {
    padding-top: 21px;
    padding-bottom: 9px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    @include vp-1199 {
      line-height: 24px;
      max-width: 540px;
      margin-bottom: 19px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 12px;
      padding-right: 71px;
    }
  }

  p {
    padding-right: 175px;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 0;

    @include vp-1199 {
      padding-right: 144px;
    }

    @include vp-767 {
      font-size: 16px;
      padding-right: 0;
    }
  }
}

.accordion__element-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__element:last-child {
  border-bottom: 1px solid rgba(16, 38, 84, 0.2);
}

.accordion__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  left: 0;
  top: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  box-shadow: 0 0 0 1px #1c3374 inset;

  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.accordion__button::after,
.accordion__button::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: $color-resolution-blue;
}

.accordion__button::after {
  width: 1px;
  height: 20px;
}

.accordion__button:hover:not(.focus-visible)::after,
.accordion__button:hover:not(.focus-visible)::before {
  background-color: $color-default-white;
}

.accordion__button.is-active:hover:not(.focus-visible)::after {
  background-color: transparent;
}

.accordion__button:hover:not(.focus-visible) {
  background-color: $color-resolution-blue;
}
