.accordion__element {
  position: relative;
  padding-top: 32px;
  padding-bottom: 19px;
  border-top: 1px solid rgba(16, 38, 84, 0.20);

  @include vp-1199 {
    padding-top: 30px;
    padding-bottom: 22px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    @include vp-1199 {
      line-height: 24px;
      max-width: 540px;
      margin-bottom: 19px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 12px;
      padding-right: 55px;
    }
  }

  p {
    padding-right: 175px;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 0;

    @include vp-1199 {
      padding-right: 144px;
    }

    @include vp-767 {
      font-size: 16px;
      padding-right: 0;
    }
  }
}

.accordion__element:last-child {
  border-bottom: 1px solid rgba(16, 38, 84, 0.20);
}

.accordion__button {
  position: absolute;
  width: 42px;
  height: 42px;
  background: url(../img/sprite/accordion-open.svg);
  top: 28px;
  right: 0;
  cursor: pointer;

  @include vp-767 {
    width: 32px;
    height: 32px;
    top: 25px;
  }
}

.accordion__button:hover {
  background: url(../img/sprite/accordion-open-hover.svg);
}

.accordion__element.is-active .accordion__button {
  background: url(../img/sprite/accordion-close.svg);
}

.accordion__button:disabled {
  background: url(../img/sprite/accordion-disabled.svg);
}
