.button {
  background-color:transparent;
  background-repeat: no-repeat;
  color: $color-default-white;
  font-family: $ff-RobotoCondensed;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 24px 56px;
  stroke-width: 4px;
  stroke: $color-default-white;
  cursor: pointer;
}
