.form {
  padding-top: 56px;
  padding-bottom: 68px;
  padding-left: 103px;
  padding-right: 170px;
  background-color: $color-sapphire;
  color: $color-default-white;
  width: 683px;

  @include vp-1199 {
    width: 100%;
    padding-left: 133px;
    padding-right: 163px;
    padding-top: 44px;
    padding-bottom: 67px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 54px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: 2.62px;

    @include vp-1199 {
      font-size: 42px;
      letter-spacing: 1.26px;
      font-weight: 700;
    }

    @include vp-767 {
      font-size: 32px;
      letter-spacing: 0.96px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 50px;
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 28px;
    font-family: $ff-RobotoCondensed;

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }

    input {
      border: none;
      background-color: $color-sapphire;
      color: $color-default-white;
      border-bottom: 1px solid $color-light-slate-grey;
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 5px;
      outline: none;

      &:hover {
        border-bottom: 1px solid $color-default-white;
      }

      &:active {
        border: 1px solid $color-default-white;
      }

      &:disabled {
        color: opacity 0.4;
        border-bottom: opacity 0.3;
      }
    }
  }
}

.form__button {
  grid-column: 1/3;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-top: 17px;
  padding-bottom: 16px;
  cursor: pointer;
  outline: none;
  border: 3px solid $color-default-white;
}

.form__button:hover {
  background-color: $color-default-white;
  color: $color-sapphire;
}
