.subscription {
  background-color: $color-ghost-white;
  padding-top: 141px;
  padding-right: 103px;
  padding-bottom: 80px;
  padding-left: 103px;
  background-image: url("../img/subscription-desktop.png");
  background-position: right 32px bottom;
  background-repeat: no-repeat;
  background-size: 321px 384px;

  @include vp-1199 {
    padding-top: 113px;
    padding-right: 163px;
    padding-bottom: 58px;
    padding-left: 163px;
    background-image: url("../img/subscription-tablet.png");
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 71px;
    padding-bottom: 19px;
    background-image: none;
  }
}

.subscription__title {
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  margin-top: 0;
  margin-bottom: 36px;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 18px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 9px;
  }
}
