.subscription {
  background-color: $color-ghost-white;
  padding-top: 120px;
  padding-right: 103px;
  padding-bottom: 120px;
  padding-left: 103px;
}

.subscription__title {
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
}
