.supergames {
  padding-top: 119px;
  padding-bottom: 127px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 58px;
  }
}

.supergames__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $color-torch-red-1;
  color: $color-default-white;

  @include vp-767 {
    flex-direction: column;
  }
}

.supergames__inner {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr auto max-content;
  max-width: 500px;
  column-gap: 50px;
  padding-top: 85px;
  padding-left: 78px;
  padding-right: 79px;
  padding-bottom: 87px;

  @include vp-1199 {
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content auto max-content;
    padding-top: 51px;
    padding-right: 10px;
    padding-bottom: 51px;
    padding-left: 46px;
    column-gap: 39px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 50px;
    padding-left: 46px;
    padding-right: 44px;
  }
}

.supergames__title {
  margin: 0;
  font-size: 82px;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;
  text-align: center;

  @include vp-1199 {
    font-size: 48px;
    line-height: 96%;
    letter-spacing: 1.44px;
    text-align: start;
  }
}

.supergames__list {
  margin: 0;
}

.supergames__text {
  grid-column: 1/3;
  font-family: $ff-RobotoCondensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 34px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 18px;
  }

  @include vp-767 {
    margin-bottom: 28px;
  }
}

.supergames__button {
  display: block;
  grid-row: 3/4;
  grid-column: 1/3;
  border: 4px solid $color-default-white;
  text-align: center;
  cursor: pointer;

  @include vp-1199 {
    padding: 11px 0;
    border: 2px solid $color-default-white;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }
}

.supergames__button:hover {
  background-color: $color-default-white;
  color: $color-torch-red-1;
}

.supergames__list-item {
  display: block;
  font-family: $ff-RobotoCondensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: start;
  margin: 0 auto;
}

.supergames__description-text {
  font-family: $ff-RobotoCondensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0;
  margin-top: 0;

  @include vp-1199 {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 0;
  }
}

.supergames__description-statistics {
  margin-left: 0;
  font-size: 14px;
  border-top: 1px solid $color-default-white;
  align-self: start;
}

.supergames__big {
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;

  @include vp-1199 {
    font-size: 24px;
    line-height: 150%;
  }
}

.supergames__description-statistics--date {
  display: grid;
  grid-template-columns: max-content 40px;
  column-gap: 7px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
    margin-top: -4px;
  }
}

.supergames__image {

  @include vp-1199 {
    min-height: 292px;
  }
}
