.tabs {
  max-width: 100%;
}

.tabs__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.tabs__control {
  cursor: pointer;
  margin: 0;
  opacity: 0.5;
  min-width: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  padding: 5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background-color: transparent;
}

.tabs__control.is-active {
  opacity: 1;
  pointer-events: none;
}

.tabs__content {
  margin-bottom: 40px;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.tabs__element {
  padding: 25px;
  width: 100%;
}

.tabs__element p {
  margin: 0;
}

.tabs__element p:not(:last-child) {
  margin: 0 0 20px 0;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1023px) {
  .tabs__control {
    margin: 0 10px;
    padding: 15px;
  }
}

@media screen and (max-width: 767px) {
  .tabs__controls {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tabs__control {
    margin: 10px 2% 0;
    padding: 10px;
    width: 45%;
  }

  .tabs__element {
    padding: 15px;
  }
}

.tabs__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs__item {
  background-color: #ffffff;
}

.tabs__title {
  font-family: $ff-RobotoCondensed;
}
